/* Smartphone view/default */

/* page layout */
.pageContainer{
  display: grid;
  grid-template-rows: 10vh 1fr 5vh;
  grid-template-columns: 25vh 7fr 15vh;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: .75em;
}

header{
    grid-area: header;
    background-color: #00274c;
}
nav{
    grid-area: nav;
    background-color: #00274c;
}
main{
    grid-area: main;
    background-color: #000000;
}
aside{
    grid-area: aside;
    background-color: #000000;
}
footer{
    grid-area: footer;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 0.2vw;
}

/* CSS for text styling */
h1{
  font-size: 6vh;
  color: #ffcb05;
  text-align: center;
  vertical-align: middle;
}
h2{
  font-size: 4vh;
  color: #ffcb05;
  text-align: center;
}
main p{
  font-size: 3vh;
  color: #ffffff;
}


#maincontent div a{
  color: #ffcb05;
}

/* CSS code for skiplink was referenced from https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */
.skiplink {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skiplink:focus, .skiplink:active {
    color: #FFFF00;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* CSS for nav bar */
nav ul{
  display: grid;
  padding: 0.75vw;
  grid-template-rows: repeat(4, 1fr);
}
nav ul li{
  display: block;
  background-color: #474F61;
  color: black;
}
nav ul li a{
  font-size: 2vh;
  width: 200px;
  background-color: none;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #ffcb05;
}

.current{
  text-decoration: underline;
  color: #ffcb05;
}

/* default CSS for images */
img{
  width: 90%;
  height: auto;
}

/* CSS for gallery grid on Scenery page */
.gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  min-width: 250px;
}

.gallery img{
  width: 90%;
  height: auto;
}

/* CSS for Index page */
.indexpage_content{
  text-align: center;
  justify-content: center;
}
#hatcher_seal{
  width: 95%;
  height: auto;
  min-width: 250px;
}

/* CSS for About page content */
.aboutpage_content{
  width:99%;
  text-align: center;
}

/* CSS for Landmarks page content */
.landmarkspage_content{
  text-align: center;
}
.landmarkspage_content div a{
  font-size: 4vw;
  text-decoration: none;
}

/* MEDIA QUERIES */

/* Between smartphones to Laptops ---------- */
@media only screen and (min-width : 481px) and (max-width : 1223px) {
  /* page layout */
  .pageContainer{
    display: grid;
    grid-template-rows: 10vh 8vh 5fr 5vh;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "aside-left main aside-right"
      "footer footer footer";
    grid-gap: .75em;
  }

  header{
      grid-area: header;
      background-color: #00274c;
  }
  nav{
      grid-area: nav;
      background-color: #45455A;
  }
  main{
      grid-area: main;
      background-color: #000000;
  }
  aside-left{
      grid-area: aside;
      background-color: #000000;
  }
  aside-right{
      grid-area: aside;
      background-color: #000000;
  }
  footer{
      grid-area: footer;
      background-color: #ffffff;
      border-style: solid;
      border-color: #000000;
      border-width: 0.2vw;
  }
  /* CSS for nav bar */
  nav ul{
    display: grid;
    padding: 0.75vw;
    grid-template-columns: repeat(4, 1fr);
  }
  nav ul li a{
    font-size: 3vw;
  }

  /* CSS for text styling */
  h1{
    font-size: 5vw;
    color: white;
    text-align: center;
  }
  h2{
    font-size: 3vw;
  }
  main p{
    font-size: 2vw;
  }
  #maincontent div a{
    color: #ffcb05;
  }

  /* Index page welcome text */
  #welcometext{
    font-size: 3vw;
  }

  /* CSS for gallery grid on Scenery page */
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }

  /* CSS for Landmarks page content */
  .landmarkspage_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* page layout */
  .pageContainer{
    display: grid;
    grid-template-rows: 10vh 8vh 5fr 5vh;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "aside-left main aside-right"
      "footer footer footer";
    grid-gap: .75em;
  }

  header{
      grid-area: header;
      background-color: #00274c;
  }
  nav{
      grid-area: nav;
      background-color: #45455A;
  }
  main{
      grid-area: main;
      background-color: #000000;
  }
  aside-left{
      grid-area: aside;
      background-color: #000000;
  }
  aside-right{
      grid-area: aside;
      background-color: #000000;
  }
  footer{
      grid-area: footer;
      background-color: #ffffff;
      border-style: solid;
      border-color: #000000;
      border-width: 0.2vw;
  }

  /* CSS for nav bar */
  nav ul{
    display: grid;
    padding: 0.75vw;
    grid-template-columns: repeat(4, 1fr);
  }
  nav ul li a{
    font-size: 3vw;
  }

  /* CSS for text styling */
  h1{
    font-size: 5vw;
    color: white;
    text-align: center;
  }
  h2{
    font-size: 3vw;
  }
  main p{
    font-size: 2vw;
  }
  #maincontent div a{
    color: #ffcb05;
  }

  /* Index page welcome text */
  #welcometext{
    font-size: 3vw;
  }

  /* CSS for gallery grid on Scenery page */
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }

  /* CSS for Landmarks page content */
  .landmarkspage_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
